.board-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 100; */
  overflow: hidden;
  padding: 0 5px;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 450px;
  box-shadow: 5px 1px 15px -3px #000000;

  margin: 0 1rem;
}
.players {
  display: flex;
  align-items: center;
}
.players h1 {
  color: #ffd369;
}
.players span {
  font-size: 3rem;
  margin-left: 4rem;
  font-family: "Fuzzy Bubbles", cursive;
  color: #eeeeee;
}

.logo {
  position: absolute;
  width: 90%;
  max-width: 90px;
  bottom: -50px;
  left: 92%;
  transform: translate(-50%, -60%);
  /* z-index: 10; */
}
.logo img {
  width: 100%;
}

 /* .button-groups{
    margin-bottom: 1rem;
}  */
.button-groups button {
  padding: 0.6rem 2rem;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  font-family: "Fuzzy Bubbles", cursive;
  margin: 0 10px 20px 10px;
  outline: none;
 
}
.button-groups button:hover {
  background: white;
  color: black;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
    0 0 200px #ff96ad;
}
.button-groups button:not(:hover){
  box-shadow: none;
}

.flash {
  animation: flash 1s linear infinite;
}
.disable {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .board {
    margin: 10% 0;
  }
  .players span{
    font-size: 2rem;
  }
  .logo {
    max-width: 60px;
    transform: translate(-50%, -80%);
  }
}
@media screen and (max-width: 600px) {
  /* .board {
    margin: 10% 0;
  } */
}
@media screen and (max-width: 576px) {
  .button-groups button {
    padding: 0.4rem 0.1rem;
  }
}

@keyframes flash {
  /* 0%{
        opacity: 0;
    } */
  100% {
    opacity: 1;
  }
}
