.square{
    background: transparent;
    width: 100%;
    max-width: 150px;
    height: 150px;
    border: 1px solid rgb(56, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 5rem;
    font-family: 'Fuzzy Bubbles', cursive;
    color: #D89216;
    animation: neonAnim 2s alternate-reverse infinite;
    color: #007BFF;
    font-family: Cursive;
    font-size: 72px;
}

/* .square p {

} */

@keyframes neonAnim {
    from {
        text-shadow:
          0 0 10px rgba(0, 123, 255, .7),
          0 0 40px rgba(0, 123, 255, .7),
          0 0 100px rgba(0, 123, 255, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(0, 123, 255, .7),
          0 0 20px rgba(0, 123, 255, .7),
          0 0 60px rgba(0, 123, 255, .7);
      }
}

@media screen and (max-width: 768px){
    .square {
        height: 150px;
    }
}

@media screen and (max-width: 600px){
    .square {
        max-width: 120px;
        height: 100px;
    }
}
@media screen and (max-width: 400px){
    .square {
        max-width: 90px;
        height: 100px;
    }
}